<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-communication"
    version="0.1.7">
    <name>nat-communication</name>
    <description>Nat.js module: Communication (call phone, send short message, send email)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,communication,call,sms,email</keywords>
    <repo>https://github.com/natjs/weex-nat-communication.git</repo>
    <issue>https://github.com/natjs/weex-nat-communication/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <config-file target="WeexpluginConfig.xml" parent="/*">
            <feature name="WeexNatCommunication">
                <param name="category" value="module" />
                <param name="ios-package" value="WeexNatCommunication" />
                <param name="api" value="nat/communication" />
            </feature>
        </config-file>

        <header-file src="ios/WeexNatCommunication.h"/>
        <source-file src="ios/WeexNatCommunication.m"/>

        <framework src="UIKit.framework" />
        <framework src="NatCommunication" type="podspec" spec="0.0.1" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Communication">
                <param name="category" value="module" />
                <param name="android-package" value="com.nat.weex.Communication" />
                <param name="api" value="nat/communication" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>

        <source-file src="android/Communication.java" target-dir="src/com/instapp/nat/communication" />

        <framework src="com.nat:communication:1.0.7" />
        <framework src="com.nat:permission:1.0.2" />
    </platform>

</plugin>