<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-modal"
    version="0.1.5">
    <name>nat-modal</name>
    <description>Nat.js module for weex: Modal (dialog)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,modal,dialog,alert,confirm,toast</keywords>
    <repo>https://github.com/natjs/weex-nat-modal.git</repo>
    <issue>https://github.com/natjs/weex-nat-modal/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WeexNatModal">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatModal" />
                 <param name="api" value="nat/modal" />
             </feature>
         </config-file>
         
         <header-file src="ios/WeexNatModal.h"/>
         <source-file src="ios/WeexNatModal.m"/>
         
         <framework src="NatModal" type="podspec" spec="0.0.1" />
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="Modal">
                <param name="category" value="module" />
                <param name="android-package" value="com.nat.weex.Modal" />
                <param name="api" value="nat/modal" />
             </feature>
        </config-file>

        <source-file src="android/Modal.java" target-dir="src/com/instapp/nat/modal" />

        <framework src="com.nat:modal:1.0.5" />
     </platform>
     
</plugin>
