<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-camera"
    version="0.1.6">
    <name>nat-camera</name>
    <description>Nat.js module: Camera</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,camera,video</keywords>
    <repo>https://github.com/natjs/weex-nat-camera.git</repo>
    <issue>https://github.com/natjs/weex-nat-camera/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription"></config-file>
        
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WeexNatCamera">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatCamera" />
                 <param name="api" value="nat/camera" />
             </feature>
         </config-file>
         
         <header-file src="ios/WeexNatCamera.h"/>
         <source-file src="ios/WeexNatCamera.m"/>
         
         <framework src="NatCamera" type="podspec" spec="0.0.2" />
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="Camera">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.Camera" />
                 <param name="api" value="nat/camera" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.CAMERA" />
             <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="android/Camera.java" target-dir="src/com/instapp/nat/camera" />

        <framework src="com.nat:camera:1.0.3" />
        <framework src="com.nat:permission:1.0.2" />
     </platform>

</plugin>
