<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-battery"
    version="0.1.4">
    <name>nat-device-battery</name>
    <description>Nat.js module: Battery</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,device,battery</keywords>
    <repo>https://github.com/natjs/weex-nat-device-battery.git</repo>
    <issue>https://github.com/natjs/weex-nat-device-battery/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WeexNatBattery">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatBattery" />
                 <param name="api" value="nat/device/battery" />
             </feature>
         </config-file>
         
         <header-file src="ios/WeexNatBattery.h"/>
         <source-file src="ios/WeexNatBattery.m"/>
         
         <framework src="NatBattery" type="podspec" spec="0.0.2" />
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="DeviceBattery">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.DeviceBattery" />
                 <param name="api" value="nat/device/battery" />
             </feature>
        </config-file>

        <source-file src="android/DeviceBattery.java" target-dir="src/com/instapp/nat/device/battery" />

        <framework src="com.nat:device-battery:1.0.4" />
     </platform>

</plugin>
